# ------------------------------------------------------------------------------
# Postgres.

data/postgres

# ------------------------------------------------------------------------------
# Traefik.

traefik/*
!traefik/.gitkeep

# ------------------------------------------------------------------------------
# Env.

.env.development
.env.production

# ------------------------------------------------------------------------------
# Dev tools.

xh-session.json
*-request.json
